<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
	{% include 'css.html' %}
    <title>Course</title>
	<style>
	.bg-primary{
		background-color: #000000!important;
	}
	.navbar-light .navbar-nav .nav-link {
    color: white;
	}
	.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
		color: #ffc107;
	}
	.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
		color: black;
		background-color: #fd7e14;
		border-radius:3px;
	}
	.navbar-nav .nav-link {
	padding-right: 0.8rem!important;
	padding-left: 0.8rem!important;
	font-size:16px;
	}
        </style>
    </head>
    <body>
    {% include 'menu.html' %}
<div class="container-fluid alert alert-secondary" style="height:70px; font-size:x-large"><span class="text-secondary">Course</span></div>       	
<div class="container-fluid">	
      <div class="row">
        <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">ADCA(Advance Diploma in computer science)</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">CCA(Certificate in Computer application)</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">CCC(Course in Computer concept)</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">DTP(Desktop Publication)</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">(Tally ERP 9)computer Accounting Course</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">IGD Bombay Art</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">Computerized Mobile Repairing</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">Autocad</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">Computer Hardware & Networking</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">MCA(Master of Computer Application)</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">PGDCA</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">BCA(Bachlor's of Computer Application)</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">Web Designing</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">DCA 1Year(Diploma in Computer Application)</span></div>
                  </li>
                  <li class="list-group-item">
                    <div class="shadow-none p-3 bg-light rounded"><span class="text-danger">DRA(Diploma in Refrigeration & Air Conditioning)</span></div>
                  </li>
                </ul>
                </div>
              </div>
        <div class="card col-md-8">
		 <ul class="list-unstyled">
                        <li>
                         <span class="text-danger">>>DOS</span>
                        </li>
                        <li>
                          <span class="text-danger">>>Windows</span>
                        </li>
                        <li>
                          <span class="text-danger">>>Fundamental of Computer</span>
                        </li>
                        <li>
                          <span class="text-danger">>>MS-Office(Word,Excel,Power-Point,Access)</span>
                        </li>
                        <li>
                          <span class="text-danger">>>Corel-Draw</span>
                        </li>
                        <li>
                          <span class="text-danger">>>Photoshop</span>
                        </li>
                        <li>
                         <span class="text-danger">>>Visual fox-pro</span>
                        </li>
                        <li>
                         <span class="text-danger">>>C Language</span>
                        </li>
                        <li>
                         <span class="text-danger">>>Tally</span>
                        </li>
                        <li>
                         <span class="text-danger">>>Internet Vision(Search,Email,Chatting)</span>
                        </li>
                        <li>
                         <span class="text-danger">>>Project work</span>
                        </li>
                        <li>
                         <span class="text-danger">>>End Of Term Presentation</span>
                        </li>
                      </ul> 
      </div>
  </div>
  </div>
<br>  
    {% include 'footer.html' %}                                        
{% include 'js.html' %}
    </body>
  </html>