                                                             
<footer class="page-footer font-small bg-dark pt-4">
                                                <div class="container-fluid text-center text-white text-md-left">
                                                  <div class="row">
                                                    <div class="col-md-4 mt-md-0 mt-3">
                                                      <h5>Contact</h5>
                                                      <ul>
                                                        <li style="float: left; list-style:none; padding-left:10px;">
                                                          <i class="fa fa-facebook"></i></li>
                                                        <li style="float: left; list-style:none; padding-left:10px;">
                                                          <i class="fa fa-google-plus"></i></li>
                                                      </ul>
                                                    <li>
                                                      <p>
                                                        <ul>
                                                          <li style="float: left; list-style:none; padding-left:10px;">
                                                            <i class="fa fa-home"></i></li>
                                                            </ul>
                                                        Biskohar Bazar,Siddarth Nagar,U.P.</p>
                                                  </li>
                                                      <p>
                                                        <ul>
                                                          <li style="float: left; list-style:none; padding-left:10px;">
                                                            <i class="fa fa-phone"></i></li>
                                                        +91-750-51-51-502</p>
                                                            </ul>
                                                            <p>
                                                              <ul>
                                                            <li style="float: left; list-style:none; padding-left:10px;">
                                                              <i class="fa fa-envelope-o"></i></li>
                                                      <a href="#">bictcomputercenter@gmail.com</a>
                                                      </ul>
                                                      </p>
                                                            </div>
                                                    <div class="col-md-4 mt-md-0 mt-3">
                                                      <h5>About Us</h5>
                                                      <p>In order to produce Information Technology Professionals, IT education requires a good infrastructure and high quality
                                                         competence. Our Mission ( Welcome to Bharat Institute of Computer and Technology ) has been decided to provide the Computer 
                                                         Education by the help of State & Indian Central Government 
                                                        planning & Programmes announces time to time in nominal charge for every person of our lower and middle class of society.</p>
                                                    </div>
                                                    <div class="col-md-4 mb-md-0 mb-3">
                                                      <h5>Links Goes Here</h5>
                                                      <ul class="list-unstyled">
                                                        <li>
                                                          <a href="{% url 'index' %}">Home</a>
                                                        </li>
                                                        <li>
                                                          <a href="{% url 'about' %}">About Us</a>
                                                        </li>
                                                        <li>
                                                          <a href="{% url 'course' %}">Course</a>
                                                        </li>
                                                        <li>
                                                          <a href="{% url 'onlineregistration' %}">Online Registration</a>
                                                        </li>
                                                        <li>
                                                          <a href="{% url 'checkresult' %}">Online Results</a>
                                                        </li>
                                                        <li>
                                                          <a href="{% url 'contact' %}">Contact Us</a>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                    </div>
                                                  </div>                                      
                                                <div class="footer-copyright text-white py-3">Developed & Designed By
                                                  <a href="ritu.html">RituVerma</a>
                                                </div>
                                              </footer>                         