<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
	{% include 'css.html' %}
    <title>Gallery</title>
	<style>
	.bg-primary{
		background-color: #000000!important;
	}
	.navbar-light .navbar-nav .nav-link {
    color: white;
	}
	.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
		color: #ffc107;
	}
	.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
		color: black;
		background-color: #fd7e14;
		border-radius:3px;
	}
	.navbar-nav .nav-link {
	padding-right: 0.8rem!important;
	padding-left: 0.8rem!important;
	font-size:16px;
	}
        </style>
    </head>
    <body>
    {% include 'menu.html' %}
<div class="container-fluid col-md-12  alert alert-secondary" style="height:70px; font-size:x-large"><span class="text-secondary">Gallery</span></div>
        <div class="container-fluid">
         <div class="row">
            <div class="card col-md-3" style="width:18rem;">
                <img src="https://tse3.mm.bing.net/th?id=OIP.WKvJKOW76y8-YAbbuoPshQHaE8&pid=Api&P=0&w=236&h=158" class="card-img-top" style="height:300px;" alt="first">
                <div class="card-body">
                </div>
              </div>
              <div class="card col-md-3" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.9MAT38wcs1cDlHBFsxdfQAHaET&pid=Api&P=0&w=328&h=191" class="card-img-top" style="height:300px;" alt="second">
                <div class="card-body">
                </div>
              </div>
              <div class="card col-md-3" style="width: 18rem;">
                <img src="https://tse2.mm.bing.net/th?id=OIP.W4uoPA2dZ-6xitNz8KKPhwHaE8&pid=Api&P=0&w=260&h=174" class="card-img-top" style="height:300px;" alt="third">
                <div class="card-body">
                  <p class="card-text">Honorable Education Minister Dr. Satish Chandra Diwvedi as Chief Guest in BICT Campus </p>
                </div>
              </div>
              <div class="card col-md-3" style="width: 18rem;">
                <img src="https://tse2.mm.bing.net/th?id=OIP.TF71IhtS8CnkiZNJeQREtgAAAA&pid=Api&P=0&w=300&h=300" class="card-img-top" style="height:300px;" alt="fourth">
                <div class="card-body">
                </div>
              </div>
              <div class="card col-md-3" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.pX71q7GDO5MZMI96Af-IFQHaHj&pid=Api&P=0&w=300&h=300" class="card-img-top" style="height:300px;" alt="fourth">
                <div class="card-body">
                </div>
              </div>
              <div class="card col-md-3" style="width: 18rem;">
                <img src="https://tse2.mm.bing.net/th?id=OIP.0C_67fkzlrdKHgMm2QdpnwHaEK&pid=Api&P=0&w=297&h=168" class="card-img-top" style="height:300px;" alt="fourth">
                <div class="card-body">
                    <p class="card-text">Computer Software Hardware and Networking</p>
                </div>
              </div>
              <div class="card col-md-3" style="width: 18rem;">
                <img src="https://tse4.mm.bing.net/th?id=OIP.U7KIVYjFiLcPMApGTRHTZwHaFY&pid=Api&P=0&w=253&h=184" class="card-img-top" style="height:300px;" alt="fourth">
                <div class="card-body">
                    <p class="card-text">Diploma in Yoga</p>
                </div>
              </div>
              <div class="card col-md-3" style="width: 18rem;">
                <img src="https://tse4.mm.bing.net/th?id=OIP.ofIuX01QfhvWilpA6L7zQwAAAA&pid=Api&P=0&w=300&h=300" class="card-img-top" style="height:300px;" alt="fourth">
                <div class="card-body">
                    <p class="card-text">First Prize By Cheif Guest & Manager </p>
                </div>
              </div>
              <div class="card col-md-3" style="width: 18rem;">
                <img src="https://tse3.mm.bing.net/th?id=OIP.ldD2QNMQ8ZQ9pNTu6yf2nQAAAA&pid=Api&P=0&w=222&h=152" class="card-img-top" style="height:300px;" alt="fourth">
                <div class="card-body">
                    <p class="card-text">Learn University Course</p>
                </div>
              </div>
              <div class="card col-md-3" style="width: 18rem;">
                <img src="http://image.slidesharecdn.com/closingspeech-110912105127-phpapp01/95/it-professionalstechnology-trends-towards-aec-2015-32-728.jpg?cb=1315824784" class="card-img-top" style="height:300px;" alt="fourth">
                <div class="card-body">
                    <p class="card-text">Academic and competitive Classes </p>
                </div>
              </div>
              <div class="card col-md-3" style="width: 18rem;">
                <img src="https://tse1.mm.bing.net/th?id=OIP.zS--1JFJmGcnfjIuF32t5wHaD5&pid=Api&P=0&w=264&h=140" class="card-img-top" style="height:300px;" alt="fourth">
                <div class="card-body">
                    <p class="card-text">Free Demo Classes</p>
                </div>
              </div>
              <div class="card col-md-3" style="width: 18rem;">
                <img src="https://tse3.mm.bing.net/th?id=OIP.vIAEZtyxc6Dtkr3eYH-u_AHaCc&pid=Api&P=0&w=422&h=140" class="card-img-top" style="height:300px;" alt="fourth">
                <div class="card-body">
                    <p class="card-text">Speak English in British & American Language</p>
                </div>
              </div>
            </div>
        </div>
    {% include 'footer.html' %}                                        
{% include 'js.html' %}
    </body>
  </html>