	<div style="background-color:orange;font-size:15px;padding:5px;"><marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="9" direction="left">Our Branches : Biskohar Bazar ,7505151502, Gaisari :8318419889, mannijot : 9451931091 Bhaderiya :9565235074 Ganeshpur :7505151502</marquee></div>
        <div class="col-md-12 bg-danger" style="margin:0px!important;background-color:#c9302c;color:white;font-size:20px;padding:10px;">
          <div class="row">
          <div class="col-md-6 text-right"><marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="9" direction="right">नया ब्रांच खोलने के लिए सम्पर्क करें <a href="{% url 'onlineregistration' %}" style="color:yellow;">Please Click Here to Register</a></marquee></div>
          <div class="col-md-6"><marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="9" direction="left">प्रवेश प्रारम्भ सभी कोर्सो के लिए जल्दी करें<a href="{% url 'onlineregistration' %}" style="color:yellow;"> Click Here to Register</a></marquee></div>
          </div>
        </div>
		<div class="row">
        <img src="http://analyzeinfotech.in/assets/images/analyze-logo.png" style="height:150px; width:100%;">
        </div>
	<nav class="navbar navbar-expand-lg navbar-light bg-danger">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                                         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
	  <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'about' %}">About Us</a>
          </li>
		  <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'course' %}">Course</a>
          </li>
		  <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'gallery' %}">Gallery</a>
          </li>
		  <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'onlineregistration' %}">Online Registration</a>
          </li>
		  <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'checkresult' %}">Check Result</a>
          </li>
		  <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'checkstatus' %}">Check Status</a>
          </li>
		  <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'managementteam' %}">Management Team</a>
          </li>
		  <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'branchlist' %}">Branch List</a>
          </li>
		  <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'selectedstudent' %}">Selected Students</a>
          </li>
		  <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'contact' %}">Contact Us</a>
          </li>
		  </ul>
	  </div>
	  </nav>
	
        